<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>{% block title %}Media bundle{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bundles/fhm-media/css/fhmmediabundle.css') }}">
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>

    <body id="{% block media_body_id %}{% endblock %}">

        {% block header %}
            <header>
                <p>Fhm Media Bundle :  this header block can be rewritten</p>
            </header>
        {% endblock %}

        <div class="container body-container">
            {% block body %}
                <div class="row">
                    <div id="main" class="col-sm-9">
                        {{ include('default/_flash_messages.html.twig') }}

                        {% block media_core %}{% endblock %}
                    </div>
                </div>
            {% endblock %}
        </div>

        {% block footer %}
            <footer>
                <p>footer block </p>
            </footer>
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('bundles/fhm-media/js/fhmmediabundle.js') }}"></script>
        {% endblock %}
    </body>
</html>

