{% extends '@FhmMedia/layout.html.twig' %}

{% block media_body_id 'media_edit' %}

{% block media_core %}
    <h1>{{ 'title.edit_media'|trans({'%id%': media.id}) }}</h1>

    {{ include('@FhmMedia/Media/_form.html.twig', {
        form: form,
        button_label: 'action.save'|trans,
        include_back_to_home_link: true,
    }, with_context = false) }}
{% endblock %}

{% block sidebar %}
    <div class="section">
        <a href="{{ path('fhm_media_show', {id: media.id}) }}" class="btn btn-lg btn-block btn-success">
            <i class="fa fa-eye" aria-hidden="true"></i> {{ 'action.show_media'|trans }}
        </a>
    </div>

    <div class="section actions">
        {#{{ include('admin/blog/_delete_form.html.twig', {post: post}, with_context = false) }}#}
    </div>

    {{ parent() }}
{% endblock %}
