{% extends '@FhmMedia/layout.html.twig' %}

{% block media_body_id 'media_index' %}

{% block media_core %}
    {% for media in medias %}
        <media class="media">
            <h2>
                <a href="{{ path('fhm_media_index', {slug: media.alias}) }}">
                    {{ media.name }}
                </a>
            </h2>

            <p class="media-metadata">
                <span class="metadata"><i class="fa fa-calendar"></i> {{ media.getDateCreate|localizeddate('long', 'medium', null, 'UTC') }}</span>
                <span class="metadata"><i class="fa fa-user"></i> {{ media.filename }}</span>
            </p>

            {{ media.description|md2html }}

            {{ include('@FhmMedia/Media/_media_tags.html.twig') }}
        </media>
    {% else %}
        <div class="well">{{ 'post.no_posts_found'|trans }}</div>
    {% endfor %}

    {#{% if medias.haveToPaginate %}#}
        {#<div class="navigation text-center">#}
            {#{{ pagerfanta(medias, 'twitter_bootstrap3_translated', {routeName: 'blog_index_paginated'}) }}#}
        {#</div>#}
    {#{% endif %}#}
{% endblock %}

