{% extends '@FhmMedia/layout.html.twig' %}

{% block media_body_id 'media_new' %}

{% block media_core %}
    <h1>{{ 'title.media_new'|trans }}</h1>

    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.description) }}
    {{ form_row(form.private) }}
    {{ form_row(form.active) }}
    {{ form_row(form.tags) }}

    <button type="submit" class="btn btn-primary">
        <i class="fa fa-save" aria-hidden="true"></i> {{ 'media.label.create_media'|trans }}
    </button>
    {{ form_widget(form.saveAndCreateNew, {label: 'label.save_and_create_new', attr: {class: 'btn btn-primary'}}) }}
    <a href="{{ path('fhm_media_new') }}" class="btn btn-link">
        <i class="fa fa-list-alt" aria-hidden="true"></i> {{ 'media.action.back_to_list'|trans }}
    </a>
    {{ form_end(form) }}
{% endblock %}
